---
import Layout from "@components/layout.astro";
---

<Layout>
	<div class="max-w-container mx-auto px-4 prose">
		<h1>Why this documentation?</h1>
		<h2>- To help you understand the concepts on how to create blog out of MDX files.</h2>
		<ol>
			<li>
				<h3>Always Use MDX first</h3>
				<p>
					MDX is a file format that lets you write JSX inside of your Markdown documents.
					This allows you to import and use React components in your Markdown files.
					<a href="https://mdxjs.com/docs/what-is-mdx/"> Refer MDX documentation </a>
				</p>
				<h3>Supported Components</h3>
				<ul>
					<li>Code Blocks</li>
					<li>
						<a href="https://github.com/insin/astro-lazy-youtube-embed#readme">
							YouTube Lazy Embed
						</a>
					</li>
					<li>
						<a href="/docs/codetabs"> Code Tabs </a>
					</li>
				</ul>
			</li>
		</ol>
	</div>
</Layout>
