html,
body {
	width: 100vw;
	height: 100vh;
	content-visibility: auto;
	-webkit-font-smoothing: antialiased;
}

body {
	--sb-track-color: #232e33;
	--sb-thumb-color: #6baf8d;
	--sb-size: 8px;
}

body::-webkit-scrollbar {
	width: var(--sb-size);
}

body::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
	body {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}

svg.rough-annotation {
	opacity: 70%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--heading-color);
	margin: 0 0 1rem 0;
	font-weight: bold;
}

/* Lists */
ul,
ol {
	color: var(--text-color);
	margin: 1rem 0;
	padding-left: 2rem;
}

li {
	margin-bottom: 0.5rem;
}

button {
	background-color: var(--primary);
	color: var(--neutral-content);
}

.code-tabs {
	border: 1px solid #ddd;
	border-radius: 6px;
	overflow: hidden;
}

.tabs {
	display: flex;
	border-bottom: 1px solid #ddd;
}

.tab-button {
	flex: 1;
	padding: 0.5rem;
	text-align: center;
	cursor: pointer;
	background: #f9f9f9;
	border: none;
	outline: none;
	transition: background 0.2s ease-in-out;
}

.code-tab-active {
	@apply bg-primary text-primary-content;
}

.prose img {
	@apply mt-0 mb-0;
}

.prose p {
	@apply mt-1 mb-1;
}

.prose ul {
	@apply mt-1 mb-1;
}

.prose li {
	@apply my-1.5;
}

.prose ol {
	@apply mt-1 mb-1;
}

.prose :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
	@apply mb-1 mt-1;
}

.prose h2 {
	@apply mt-6 mb-1;
}

#themeToggle {
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
}

.prose :where(code):not(:where([class~="not-prose"] *, pre *)) {
	@apply rounded-sm p-1 font-light; 
}

.prose ol > li > p {
    @apply font-semibold;
}