---
import { FOOTER_CONTENT } from "../config";
---

<footer class="bg-gradient-to-t from-purple-500">
	<div
		class="flex flex-row items-center justify-center max-w-screen-md h-96 mx-auto px-4 sm:px-6"
	>
		{FOOTER_CONTENT}
	</div>
</footer>
