---
import { SITE_DESCRIPTION, SITE_TITLE } from "@src/config";
import Footer from "./footer.astro";
import Header from "./header.astro";
import Meta from "./meta.astro";
import ThemeProvider from "./theme-provider.astro";


type Props = {
	title?: string;
	description?: string;
    showFooter?: boolean;
};

const { title, description, showFooter = true } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<Meta
			title={title ? `${title} · ${SITE_TITLE}` : SITE_TITLE}
			description={description ?? SITE_DESCRIPTION}
		/>
	</head>
	<body class="flex flex-col h-full w-full">
		<div class="flex flex-col h-full w-full mb-8 overflow-y-scroll antialiased">
			<ThemeProvider />
			<Header />
			<div class="flex w-full h-full prose max-w-none">
				<slot />
			</div>
			{showFooter && <Footer />}
		</div>
	</body>
</html>
