---
import ThemeToggle from "./theme-toggle.astro"
---

<div class="flex flex-row gap-4 items-center">
	<a href="/authors" target="_self" class="h-full text-sm hover:text-orange-700"> Authors </a>
	<a href="/tags" target="_self" class="h-full text-sm hover:text-orange-700"> Tags </a>
    <ThemeToggle />
</div>
