---
import { MENUS } from "../config";
import ThemeIcon from "./theme-icon.astro";
---

<div class="flex flex-row gap-4 items-center ">
	{
		MENUS.map((item) => (
			<a href={item.link} target={item.target} class="h-full text-sm hover:text-orange-700">
				{item.title}
			</a>
		))
	}
	<ThemeIcon />
</div>
