---
import ThemeToggle from "./theme-toggle.astro"
---

<div class="flex flex-row gap-4 items-center">
	<!-- <a href="/posts" target="_self" class="h-full text-sm hover:text-orange-700"> Posts </a> -->
	<!-- <a href="/dsa" target="_self" class="h-full text-sm hover:text-orange-700"> Cheat Sheets </a> -->
    <ThemeToggle />
</div>
