---
type Props = {
	tag: string;
};

const { tag } = Astro.props;
---

<a
	href={`/tags/${encodeURI(tag)}`}
	target="_self"
	class="px-2.5 py-1 rounded-lg text-xs bg-neutral text-neutral-content font-medium capitalize"
>
	{tag}
</a>
