---
const props = Astro.props;
---

<div

	{...props}
	class="old-paper bg-[#f5f5dc] dark:bg-[#eeeeee] dark:text-black p-6 shadow-lg rounded-lg border border-[#c4a484] relative overflow-hidden before:content-[''] before:absolute before:inset-0 before:bg-[url('/old-paper-texture-2.jpg')] before:opacity-40 before:mix-blend-multiply before:pointer-events-none"
>
	<slot />
</div>
